* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e3a8a, #0284c7);
  color: white;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-box {
  width: 620px;
  padding: 30px;
  text-align: center;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.12);
  /* backdrop-filter: blur(12px); */
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}

.weather-box h1 {
  font-size: 34px;
  margin-bottom: 8px;
}

.subtitle {
  color: #dbeafe;
  margin-bottom: 25px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.search-box input {
  flex: 1;
  padding: 13px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 15px;
}

.search-box button {
  padding: 13px 18px;
  border: none;
  border-radius: 12px;
  background: #38bdf8;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.search-box button:hover {
  background: #0ea5e9;
}

.result {
  margin-top: 20px;
}

.weather-card {
  padding: 25px;
  border-radius: 20px;
  background: rgba(15, 23, 42, 0.65);
  animation: pop 0.4s ease;
}

.weather-card h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.temp {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.condition {
  font-size: 20px;
  margin-bottom: 15px;
}

.details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.detail-box {
  background: rgba(255, 255, 255, 0.12);
  padding: 12px;
  border-radius: 14px;
  width: 45%;
}

.forecast {
  margin-top: 25px;
}

.forecast-title {
  margin-bottom: 15px;
  font-size: 22px;
}

.forecast-cards {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.forecast-card {
  width: 100px;
  padding: 14px;
  border-radius: 16px;
  background: rgba(15, 23, 42, 0.55);
}

.forecast-card h4 {
  margin-bottom: 8px;
}

.forecast-card p {
  margin: 5px 0;
  font-size: 14px;
}

.error {
  color: #fecaca;
  font-weight: bold;
  font-size: 18px;
}
.footer {
  text-align: center;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

@keyframes pop {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
